@import "tailwindcss";
@import "./variables.css";
@import "./fonts.css";

@keyframes tooltip-fade-in {
  26% {
    opacity: 0;
    visibility: hidden;
  }

  0%,
  25% {
    opacity: 1;
    visibility: visible;
  }
}

@layer components {
  .container-wrapper {
    @apply max-w-[1200px] mx-auto px-3 py-10 md:px-6 xl:px-0 md:py-20;
  }

  .our_products-2 {
    background: linear-gradient(
        180deg,
        #25286d 44.47%,
        rgba(37, 40, 109, 0) 100%
      ),
      url("/images/bottle_mfg.png") lightgray 50% / cover no-repeat,
      linear-gradient(0deg, #25286d 0%, #25286d 100%);
  }

  .tooltip-fade-in {
    visibility: hidden;
    animation: tooltip-fade-in 20s infinite, bounce 1s infinite;
    animation-delay: 1s;
  }
}

@layer base {
  .hero-section {
    background-image: url("/assets/images/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & .hero-section--tint {
      @apply absolute h-full w-full inset-0 bg-linear-to-b from-black/50 to-black/10;
    }
  }

  button,
  a {
    cursor: pointer;
  }
}
