@import "tailwindcss";
@import "./variables.css";

@layer components {
    .container-wrapper{
        @apply max-w-[1200px] mx-auto px-3 md:px-6 xl:p-0 my-10 md:my-20;
    }

    .our_products-2{
        background: linear-gradient(180deg, #25286D 44.47%, rgba(37, 40, 109, 0.00) 100%), url("/images/bottle_mfg.png") lightgray 50% / cover no-repeat, linear-gradient(0deg, #25286D 0%, #25286D 100%);
    }
}

@layer base{
    .hero_section{
        background-image: url("/assets/images/hero-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .hero_section-tint{
            @apply bg-linear-to-b from-black/50 to-black/10
        }
    }

    button, a{
        cursor: pointer;
    }
}