@theme inline {
  /* fonts */
  --text-heading-1: var(--text-6xl);
  --text-heading-2: 40px;
  --text-heading-2--line-height: 48px;
  --text-heading-3: 30px;
  --text-heading-3--line-height: 38px;
  --text-heading-4: 20px;
  --text-body-xl: var(--text-xl);
  --text-body-lg: var(--text-lg);
  --text-body-base: var(--text-base);
  --text-body-sm: var(--text-sm);
  --text-body-xs: var(--text-xs);

  /* colors */
  --color-primary: #25286d;
  --color-primary-10: #979bdb;
  --color-primary-20: #8286ca;
  --color-primary-30: #3b3e75;
  --color-primary-40: #3b3e75;
  --color-primary-50: #454886;
  --color-primary-60: #25286d;

  --color-dp-0: var(--color-white);
  --color-dp-1: #f8f9fa;
  --color-dp-2: #e9ecef;
  --color-dp-3: #dee2e6;
  --color-dp-4: #ced4da;
  --color-dp-5: #adb5bd;
  --color-dp-6: #868e96;
  --color-dp-7: #495057;
  --color-dp-8: #343a40;
  --color-dp-9: #212529;
}
